.button {
	-fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#image-accueil {
	-fx-background-image: url("werewolf.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: 300 300;
	-fx-background-position:center;
}

#image-loup-garoup {
	-fx-background-image: url("carteLoupGarou.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100 100;
	-fx-background-position:center;
}

#titre-principal {
	-fx-font-family: "Lucida Handwriting";
	-fx-font-weight:BOLD;
	-fx-font-size:80;
}

#pseudo {
	-fx-font-family: "Lucida Handwriting";
	-fx-font-weight:NORMAL;
	-fx-font-size:40;
}

#erreur {
	-fx-fill : red;
}
#cadre-accueil {
	-fx-border-color: black;
	-fx-border-width: 2px 2px 2px 2px
}

#fenetre-regles {
	-fx-border-color: black;
	-fx-border-width: 2px 2px 2px 2px;
	-fx-background-color: #F5F5F5;
}

#zonetexte-regles {
	-fx-border-color: grey;
	-fx-border-width: 1px 1px 1px 1px;
	-fx-z-index: 10;
}